@import "libs/normalize";

body {
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 14px;
  color: #777;
  overflow-wrap: break-word;
}

.header {
  margin: 20px;
}

@import "components/_notes.scss";
@import "components/_codeblocks.scss";
@import "components/_modal.scss";