@import "libs/normalize";

body {
  background: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 14px;
  color: #777;
  overflow-wrap: break-word;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 14px;
    line-height: 1;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
    padding: 10px;
}       

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 14px;
    line-height: 1;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.hide {
  display: none !important;
}

.header {
  margin: 20px;
}

.notes {
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    // This should be header 2
    h1 {
      font-size: 15px;
      margin: 2rem 0;
      position: relative;

      &:after {
        content: "";
        width: 30px;
        border-bottom: 2px solid grey;
        width: 10%;
        display: block;
        margin-top: 15px;
      }
    }

    li {
      background: #fff;
      padding: 5px 20px 20px 20px;
      margin:  0 20px 20px 20px;
      border-bottom: 1px solid #eaeaea; 
    }

  }

  @media (min-width: 768px) {

    ul {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      li {
        flex: 1 0 25%;
        height: 300px;
        overflow: hidden;
        position: relative;  
      }

      li::after {
        content:'';
        width:100%;
        height:20%;    
        position:absolute;
        left:0;
        bottom:0;
        background:linear-gradient(transparent 0, #fff);
      }

    }

  }

}

// MODAL
.modal {
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

  &.active{
    opacity: 1;
	  pointer-events: auto;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
  }

  .close:hover { background: #00d9ff; }
}

.modal__box {
  width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}